@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
    ViewBag.Title = "GaLEGO is Galaga in LEGO";
}
<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
<hr />
<h1>Characters</h1>
<hr />
<div>
    @foreach (var c in Model.AllCharacters)
    {
        <a class="galaga-main-char" href="@GalagaViewModel.GetCharacterUrl(c)">
            <h2>@GalagaViewModel.GetCharacterName(c) &raquo;</h2>
            <div class="row galaga-main-char-row">
                <div class="col-xs-6">
                    <img class="img-responsive" src="@GalagaViewModel.GetStateImageUrl(c)" />
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive galaga-main-char-img-angle" src="@GalagaViewModel.GetAngleImageUrl(c)" />
                </div>
            </div>
        </a>
        <hr />
    }
</div>
<br />

@Html.React("GalagaNavigation", new { data = Model.GetCharacterData(), footer = true })