@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
    ViewBag.Title = "GaLEGO is Galaga in LEGO";
}


<style>
    .galaga-main-char {
        color: #ddd;
    }

        .galaga-main-char:hover {
            color: #a90000;
            text-decoration: none;
        }

    .galaga-main-char-row {
        background: #000;
        vertical-align: middle;
    }

    .galaga-main-char-img-angle {
        padding-top: 15%;
    }
</style>

<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
<hr />
<h1>Characters</h1>
<hr />
<div>
    @foreach (var c in Model.AllCharacters)
    {
        <a class="galaga-main-char" href="@GalagaViewModel.GetCharacterUrl(c)">
            <h2>@GalagaViewModel.GetCharacterName(c) &raquo;</h2>
            <div class="row galaga-main-char-row">
                <div class="col-xs-6">
                    <img class="img-responsive" src="@GalagaViewModel.GetStateImageUrl(c)" />
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive galaga-main-char-img-angle" src="@GalagaViewModel.GetAngleImageUrl(c)" />
                </div>
            </div>
        </a>
        <hr />
    }
</div>
<br />
<h4>Select a character:</h4>
<div class="galaga-nav2">
    <div>
        @foreach (var c in Model.AllCharacters)
        {
            <a href="@GalagaViewModel.GetCharacterUrl(c)">
                <img src="@GalagaViewModel.GetStateImageUrl(c)" />
            </a>}
    </div>
</div>
