<!DOCTYPE html>
<html>
<head>
    <title>8BrickArcade</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    @Scripts.Render("~/bundles/react")
    @RenderSection("scripts", false)
    @Html.ReactInitJavaScript()
</body>
</html>